body{
    margin: 0;
    padding: 0;
    background: url(photocall-juegos-neon-dibujado-mano_23-2149860761.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}