body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-image: url('photocall-juegos-neon-dibujado-mano_23-2149860761.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h3, h4, h5 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.search-bar {
    position: absolute;
    top: 20px;
    left: 40px;
}

#google_translate_element {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 9999;
}

.goog-te-gadget-simple {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
    width: 120px;
}