body {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-image: url('photocall-juegos-neon-dibujado-mano_23-2149860761.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h3, h4, h5 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#searchInput:focus {
    outline: none;
    border-color: rgb(255, 0, 0);
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 0, 0) 0, 0);
}

#noResultsText {
    color: red;
    display: none;
    text-align: center;
}